@font-face {
    font-family:'iransansdn';
    src: url("font/iransansdn.eot")format('opentype');
    src: url("font/iransansdn.ttf")format('truetype');
    src: url("font/iransansdn.woff")format('woff');

}
@font-face {
    font-family: Vazir-medium;
    src: url('font/Vazir-Medium.eot');
    src: url('font/Vazir-Medium.eot?#iefix') format('embedded-opentype'),
    url('font/Vazir-Medium.woff2') format('woff2'),
    url('font/Vazir-Medium.woff') format('woff'),
    url('font/Vazir-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: Vazir-regular;
    src: url('font/Vazir-Regular.eot');
    src: url('font/Vazir-Regular.eot?#iefix') format('embedded-opentype'),
    url('font/Vazir-Regular.woff2') format('woff2'),
    url('font/Vazir-Regular.woff') format('woff'),
    url('font/Vazir-Regular.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family:vazir-med;
    src: url('font/Vazir.woff');
}
@font-face {
    font-family:vazir-fa-med;
    src: url('font/Vazir-Medium-FD.woff');
}
@font-face {
    font-family: 'iransans_num';
    src: url("font/IRANSansDN_Fa_Num.ttf")format('truetype');
}
@font-face {
    font-family: 'iransans_num_bold';
    src: url("font/IRANSansDN_FaNum-Bold.ttf")format('truetype');
}
@font-face {
    font-family: 'iransans_num_light';
    src: url("font/IRANSansDN_FaNum_Light.ttf")format('truetype');
}
